<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | Start</title>
</head>
<body>
    <h2> Here are the results </h2>

    <% for record in @activity do%>
       <h3> <%= record.returnTitle %> </h3>
       <p> <%= record.returnSection %> </p>
       <hr>
    <% end %>

</body>
</html>