<!DOCTYPE html>
<html lang="en">
	<link>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home - Main</title>
		<link rel="stylesheet" href="./css/bootstrap.min.css"/>
	</head>
	<body>

		<div class="container">
			
                        <h3> Sometimes hard work does not pay off :( </h3>
                        <h3> But <b>Allah</b> has a better plan for us </h3>
		</div>

	</body>
</html>
