<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload - Home</title>
</head>
<body>
    <% if @toShow %>
    <h1>Upload Image</h1>
        
        <form action="/upload/file" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" >
            <input type="submit" value="Upload image" >
        </form>
    <% else %>
    <h2>Upload Complete :)</h2>
    <% end %>
</body>
</html>