<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload - Home</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
        <% if @toShow %>
        <h1>Upload Image</h1>
        
        <form action="/upload/file" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" >
            <input type="submit" value="Upload image" >
        </form>
        <% else %>
        <h2>Upload Complete :) Check the outputs Here</h2>
        <form action="/upload/view" method="POST">
            <textarea style="font-size: 20px; padding: 5px" id="review" name="review" rows="25" cols="50">
            <%= @text %>
            </textarea>
            <input class="btn btn-primary" type="submit" value = "Confirm Upload !"/>
        </form>
        <% end %>
    </body>
</html>