



<div class="a">  
<header>
      <div class="header">

        <div class="logo"></div>
        <nav class="menu">
          <div class="drawer">
            <a href="/">Home</a>
          </div>
        </nav>

      </div>
</header>


    <div id="page-content1" class="content1">

      <div id="home-div1">

      <div id="home1" class="content-title1">
        <h2 ><%= @rule.title %> </h2>
      </div> 
        <% @sections.each do |section| %>
        <article>

          <p>
            <% # Check if the section's id is present in the section_ids array %>
            <% if @section_ids.include?(section.id) %>
          
          
            <%= "<em>#{section.section_text}</em>".html_safe %>
            <% else %>
         
     
            <%= section.section_text %>
             <% end %>
        </p>

         </article>
         <% end %>
        </div>
    </div>

    
   
    
</div>
