



<div class="a">
<header>

<div class="header">
  <div class="logo">     </div>
   <nav class="menu">
    <div class="drawer">
      You know, for search
      <!-- <a href="#">About</a>
      <a href="#">Contact</a> -->

    </div>
   </nav>
</div>
</header>

<div class="center">

     <h1>Judicial Rules</h1>
    <div class="img1">
      <!--<img class="img" src="" alt="Deez"/> -->
    </div>

    <%= form_tag search_query_path, role: 'search', method: :post do |f| %>
      <div id="input" class="searchBox">
       <
       <%= text_field_tag :q, params[:q],  class: 'searchInput',placeholder: 'Enter your query ' %>

        <button type="submit" class="searchButton" href="#">
         <!-- Search Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
         </svg>
        </button>

      </div>
    <% end %>


</div>
     <h4 style="text-align: center;">Search keywords: criminal, kill, tender, army act</h4>

</div>

