
  
  


<div class="box">
  <%= form_tag(search_upload_path, method: :post) do %>

    <span class="text-center">From Upload</span>
    <div class="lbl">
     <label style="color: white;">JSON Input</label>     
    </div>

    <div class="input-container">

    <%= text_area_tag :json_input, nil %>

  
  </div>
<%= submit_tag "Submit", class: 'btn ' %>
    
<% end %>
</div>